<section style="background-color: #232529; padding-top: 30px; padding-bottom: 30px; margin-top: 50px;">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h4 style="color: white;">JOIN US</h4>
				<ul class="list-unstyled" style="color: #73777e;">
					<li>For Merchants</li>
					<li>For Drivers</li>
				</ul>
			</div><!-- end col-md-3 -->
			<div class="col-md-3">
				<h4 style="color: white;">DELIVERY ZONES</h4>
				<ul class="list-unstyled" style="color: #73777e;">
					<li>Vancouver</li>
					<li>Burnaby</li>
					<li>North Vancouver</li>
					<li>Port Moody</li>
					<li>Coquitlam</li>
					<li>Langley</li>
					<li>White Rock</li>
				</ul>
			</div><!-- end col-md-3 -->
			<div class="col-md-3">
				<h4 style="color: white;">ABOUT US</h4>
				<ul class="list-unstyled" style="color: #73777e;">
					<li>How We Work</li>
					<li>About Us</li>
					<li>FAQ's</li>
					<li>Blog</li>
					<li>Privacy Policy</li>
					<li>Terms &amp; Conditions</li>
					<li>Career Opportunities</li>
				</ul>
			</div><!-- end col-md-3 -->
			<div class="col-md-3">
				<h5 style="color: white; padding-bottom: 25px;">MOBILE APPS</h5>
				<ul class="list-unstyled">
					<li style="padding-bottom: 10px;">
						<a href="#">
							<img class="img-responsive" src="http://res.cloudinary.com/manoylo/image/upload/v1467848317/google-play_abcv5o.png" alt="Google play abcv5o" />
						</a>
					</li>
					<li>
						<a href="#">
							<img class="img-responsive" src="http://res.cloudinary.com/manoylo/image/upload/v1467848317/itunes_klztqx.png" alt="Itunes klztqx" /></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>