<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>How it works</h1>
			<ul>
				<li>$49/month</li>
				<li>Unlimited deliveries</li>
				<li>Order for now, or schedule a delivery for the future</li>
				<li>Schedule lunch delivery for each day</li>

			</ul>
		</div>
	</div><!-- end row -->

	<div class="row">
		<div class="col-md-12">
			<h3>Restaurants</h3>
			<ul>
				<li>http://www.saintstgrill.com/</li>
				<li>http://www.aromaindianrestaurant.com/</li>
				<li>http://brownssocialhouse.com/newport-village/</li>
				<li>http://www.megadonair.com/menu</li>
				<li>http://www.namoosushivancouver.com/</li>
				<li>http://www.aroythai.ca/</li>
				<li>http://www.sergiospizzaportmoody.com/</li>
				<li>http://www.verasburgershack.com/</li>
				<li>http://www.greekguyscouzina.com/</li>
				<li>http://www.kurumbarestaurant.com/</li>
				<li>http://caffedivano.ca/</li>
				<li>http://www.golphisportmoody.com/</li>
				<li>http://originalscafemexicano.com/</li>
				<li>McDonalds</li>
				<li>Subway</li>
				<li>http://boathouserestaurants.ca/</li>
				<li>http://rodoskouzina.ca/</li>
				<li>http://www.pajos.com/</li>
				<li>https://www.facebook.com/sushiandroll2/</li>
				<li>http://pegasuspizza.ca/</li>
				<li>http://saintjameswell.com/</li>
				<li>http://www.joesatlanticgrill.com/</li>
				<li>http://www.rockypointicecream.com/</li>
				<li>http://boosterjuice.com/</li>
				<li>http://www.gallerybistroportmoody.com/</li>
			</ul>
			<br>
			<h3>Groceries</h3>
			<ul>
				<li>http://www.marketplaceiga.com/</li>
				<li>http://www.nofrills.ca/en_CA/storedetail.200004.html</li>
				<li>http://www.nestersmarket.com/</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3" style="height: 40px; background: #211809;">
		</div>
		<div class="col-md-3" style="height: 40px; background: #62503A;">
		</div>
		<div class="col-md-3" style="height: 40px; background: #DD3E06;">
		</div>
		<div class="col-md-3" style="height: 40px; background: #EE9845;">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" style="height: 100px; background: #F0E8DD;">
			Background color?
		</div>
	</div>
</div><!-- end container -->